%alert{
	display: flex;
	.alertWrapper &{
		position: relative;
		width: 100%;
		background-color: white;
		margin-top: 16px;
		border-width: 1px;
		line-height: 38px;
		border-style: solid;
		border-radius: 0;
		padding: 16px;
		padding-top: 0;
		text-align: left;
		vertical-align: bottom !important;
		font-size: 16px;
		color: color('gray', 80);
		overflow: hidden;
		transition: opacity .5s;
		animation: fadein .5s;

		&.remove{
			animation: fadeout .5s;
		}


		&::before{
			content: "";
			display: inline-block;
			position: relative;
			height: 24px;
			flex: 0 0 24px;
 	 	 	margin: 16px 0 0 0;
			z-index: 1;
		}

		& *{
			vertical-align: bottom;
		}

		button.close{
			width: 13px;
			height: 13px;
			background-size: 13px 13px;
			background-repeat: no-repeat;
			background-position: center center;
			margin-top: 16px;
		}

		span{
			padding-left: 1em;
			line-height: 20px;
			margin-top: 16px;
			strong{
				color: #231f20;
				padding-right: 6px;
			}
			a{
				text-decoration: underline;
			}
		}
	}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}


.alert-danger{
	@extend %alert;
	border-color: color('red', 40);
	&::before{
		background: url('http://style.stage1.mybluemix.net/images/icons/alert.svg');
	}
	strong{
		&::before{
			content: "Uh oh!";
		}
	}
}

.alert-info{
	@extend %alert;
	border-color: color('blue', 40);
	&::before{
		background: url('http://style.stage1.mybluemix.net/images/icons/info.svg');
	}
	strong{
		&::before{
			content: "Heads up!";
		}
	}
}

.alert-success{
	@extend %alert;
	border-color: color('green', 60);
	&::before{
		background: url('http://style.stage1.mybluemix.net/images/icons/success.svg');
	}
	strong{
		&::before{
			content: "Way to go!";
		}
	}
}